# Python
**/__pycache__/
/build/
/src/fruitsu.egg-info/
/src/fruitsu/_version.py
*.pyc

# Testing
/.tox/
pytestdebug.log

*.img
*.bin
*.gz
*.zlib
*.dmg
*.pkg
*.ipsw

# VS Code
**/.vscode

# PyCharm
/.idea/
